
table{
    display: inline;
    
    justify-content: center;
    width: 80%;
    margin: 20px;
    table-layout: fixed;
}
.table-head{

    background: rgb(239, 235, 235);
    border: 2px solid black;
    margin: 20px;
}

thead tr th{
    border: 1px solid black;
    padding: 10px;
}

tbody{
    background:  rgb(251, 246, 246);
    border: 2px solid black;
    margin: 20px;
}
